@page "/"

@inject IJSRuntime JS

<h1>File manager</h1>

<div class="demo-container">
    <div id="file-manager"></div>
    <div id="photo-popup"></div>
</div>

@code
{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JS.InvokeVoidAsync("renderDevExtremeControls", "#filemanager");
    }
}